# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
# Your code goes here

import pandas as pd

# Load the files
file1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
file2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
file3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

# Show rows and columns
print("Shape Summary:")
print(f"File1: {file1.shape[0]} rows, {file1.shape[1]} columns")
print(f"File2: {file2.shape[0]} rows, {file2.shape[1]} columns")
print(f"File3: {file3.shape[0]} rows, {file3.shape[1]} columns")

# Print original column names
print("\nOriginal Column Names:")
print("File1 Columns:", list(file1.columns))
print("File2 Columns:", list(file2.columns))
print("File3 Columns:", list(file3.columns))

# Convert to sets to compare differences
cols1 = set(file1.columns)
cols2 = set(file2.columns)
cols3 = set(file3.columns)

print("\nDifferences Between Columns:")
print("File1 vs File2:", sorted(cols1.symmetric_difference(cols2)))
print("File1 vs File3:", sorted(cols1.symmetric_difference(cols3)))
print("File2 vs File3:", sorted(cols2.symmetric_difference(cols3)))

Shape Summary:
File1: 4008 rows, 11 columns
File2: 996 rows, 11 columns
File3: 7070 rows, 11 columns

Original Column Names:
File1 Columns: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']
File2 Columns: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount', 'Policy Type', 'Vehicle Class']
File3 Columns: ['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Total Claim Amount', 'Vehicle Class']

Differences Between Columns:
File1 vs File2: []
File1 vs File3: ['GENDER', 'Gender', 'ST', 'State']
File2 vs File3: ['GENDER', 'Gender', 'ST', 'State']

In [4]:
# Standardize column names
def clean_columns(df):
    df.columns = df.columns.str.lower().str.replace(" ", "_").str.replace("-", "_")
    return df

file1 = clean_columns(file1)
file2 = clean_columns(file2)
file3 = clean_columns(file3)

# Print cleaned column names to confirm fix
print("\nCleaned File1 Columns:")
print(file1.columns.tolist())
print("\nCleaned File2 Columns:")
print(file2.columns.tolist())
print("\nCleaned File3 Columns:")
print(file3.columns.tolist())

Cleaned File1 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

Cleaned File2 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_class']

Cleaned File3 Columns:
['customer', 'state', 'customer_lifetime_value', 'education', 'gender', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_class']

In [5]:
# Check for duplicates in each file
duplicates_file1 = file1.duplicated().sum()
duplicates_file2 = file2.duplicated().sum()
duplicates_file3 = file3.duplicated().sum()

# Print the number of duplicate rows
print(f"Duplicates in File1: {duplicates_file1} rows")
print(f"Duplicates in File2: {duplicates_file2} rows")
print(f"Duplicates in File3: {duplicates_file3} rows")

Duplicates in File1: 2936 rows
Duplicates in File2: 0 rows
Duplicates in File3: 0 rows

In [ ]:
# View duplicates in each file 
print("\nDuplicate rows in File1:")
print(file1[file1.duplicated()])

print("\nDuplicate rows in File2:")
print(file2[file2.duplicated()])

print("\nDuplicate rows in File3:")
print(file3[file3.duplicated()])

Duplicate rows in File1:
     customer   st gender education customer_lifetime_value  income  \
1072      NaN  NaN    NaN       NaN                     NaN     NaN
1073      NaN  NaN    NaN       NaN                     NaN     NaN
1074      NaN  NaN    NaN       NaN                     NaN     NaN
1075      NaN  NaN    NaN       NaN                     NaN     NaN
1076      NaN  NaN    NaN       NaN                     NaN     NaN
...       ...  ...    ...       ...                     ...     ...
4003      NaN  NaN    NaN       NaN                     NaN     NaN
4004      NaN  NaN    NaN       NaN                     NaN     NaN
4005      NaN  NaN    NaN       NaN                     NaN     NaN
4006      NaN  NaN    NaN       NaN                     NaN     NaN
4007      NaN  NaN    NaN       NaN                     NaN     NaN

      monthly_premium_auto number_of_open_complaints policy_type  \
1072                   NaN                       NaN         NaN
1073                   NaN                       NaN         NaN
1074                   NaN                       NaN         NaN
1075                   NaN                       NaN         NaN
1076                   NaN                       NaN         NaN
...                    ...                       ...         ...
4003                   NaN                       NaN         NaN
4004                   NaN                       NaN         NaN
4005                   NaN                       NaN         NaN
4006                   NaN                       NaN         NaN
4007                   NaN                       NaN         NaN

     vehicle_class  total_claim_amount
1072           NaN                 NaN
1073           NaN                 NaN
1074           NaN                 NaN
1075           NaN                 NaN
1076           NaN                 NaN
...            ...                 ...
4003           NaN                 NaN
4004           NaN                 NaN
4005           NaN                 NaN
4006           NaN                 NaN
4007           NaN                 NaN

[2936 rows x 11 columns]

Duplicate rows in File2:
Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, total_claim_amount, policy_type, vehicle_class]
Index: []

Duplicate rows in File3:
Empty DataFrame
Columns: [customer, state, customer_lifetime_value, education, gender, income, monthly_premium_auto, number_of_open_complaints, policy_type, total_claim_amount, vehicle_class]
Index: []

In [7]:
# Remove duplicate rows from each dataset
file1 = file1.drop_duplicates()
file2 = file2.drop_duplicates()
file3 = file3.drop_duplicates()

# Check if there were any duplicates removed
print(f"File1 after removing duplicates: {file1.shape[0]} rows, {file1.shape[1]} columns")
print(f"File2 after removing duplicates: {file2.shape[0]} rows, {file2.shape[1]} columns")
print(f"File3 after removing duplicates: {file3.shape[0]} rows, {file3.shape[1]} columns")

File1 after removing duplicates: 1072 rows, 11 columns
File2 after removing duplicates: 996 rows, 11 columns
File3 after removing duplicates: 7070 rows, 11 columns

In [9]:
# Ensure all datasets have the same column order (using the columns from the first file)
#file2 = file2[file1.columns]
#file3 = file3[file1.columns]

# Print column names for the three files to confirm same order
print("\nCleaned File1 Columns:")
print(file1.columns.tolist())
print("\nCleaned File2 Columns:")
print(file2.columns.tolist())
print("\nCleaned File3 Columns:")
print(file3.columns.tolist())

Cleaned File1 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

Cleaned File2 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

Cleaned File3 Columns:
['customer', 'state', 'customer_lifetime_value', 'education', 'gender', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_class']

In [10]:
# Rename 'state' to 'st' in file3
file3.rename(columns={'state': 'st'}, inplace=True)

#Ensure all datasets have the same column order (using the columns from file1)
file2 = file2[file1.columns]
file3 = file3[file1.columns]

# Print column names for the three files to confirm same order
print("\nCleaned File1 Columns:")
print(file1.columns.tolist())
print("\nCleaned File2 Columns:")
print(file2.columns.tolist())
print("\nCleaned File3 Columns:")
print(file3.columns.tolist())

Cleaned File1 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

Cleaned File2 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

Cleaned File3 Columns:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

In [11]:
# Combine the datasets
combined_data = pd.concat([file1, file2, file3], ignore_index=True)

# Check the shape and columns of the combined dataset
print(f"Combined Data Shape: {combined_data.shape[0]} rows, {combined_data.shape[1]} columns")
print("\nColumns in Combined Data:")
print(combined_data.columns.tolist())

Combined Data Shape: 9138 rows, 11 columns

Columns in Combined Data:
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [17]:
# Your code goes here

import pandas as pd

# Load the dataset from the provided URL
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
data = pd.read_csv(url)

# Clean the column names
data.columns = data.columns.str.strip().str.replace(' ', '_').str.lower()

# Check the columns in the dataset
print("\nColumns in the dataset:")
print(data.columns.tolist())

# Pivot Table 1 - Total revenue by sales channel
# assuming 'total_claim_amount' is the column for revenue and 'sales_channel' is the sales channel column
pivot_revenue = data.pivot_table(
    values='total_claim_amount',  # Column to calculate total revenue
    index='sales_channel',        # Group by sales channel
    aggfunc='sum'                 # Aggregate by sum (total revenue)
).round(2)                       # Round to 2 decimal points

# Display the total revenue by sales channel
print("\nTotal Revenue by Sales Channel:")
print(pivot_revenue)

# Pivot Table 2 - Average customer lifetime value per gender and education level
# assuming 'customer_lifetime_value' is the column for lifetime value
pivot_lifetime_value = data.pivot_table(
    values='customer_lifetime_value',  # Column to calculate average customer lifetime value
    index=['gender', 'education'],     # Group by gender and education level
    aggfunc='mean'                     # Aggregate by mean (average lifetime value)
).round(2)                           # Round to 2 decimal points

# Display the average customer lifetime value per gender and education level
print("\nAverage Customer Lifetime Value by Gender and Education Level:")
print(pivot_lifetime_value)

Columns in the dataset:
['unnamed:_0', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type', 'month']

Total Revenue by Sales Channel:
               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

Average Customer Lifetime Value by Gender and Education Level:
                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [18]:
# Your code goes here

# Summary table for the number of complaints by policy type and month
# Assuming 'number_of_open_complaints' is the column for complaints and 'policy_type' and 'month' for grouping
complaints_summary = data.pivot_table(
    values='number_of_open_complaints',  # Column to count the number of complaints
    index=['policy_type', 'month'],     # Group by policy type and month
    aggfunc='sum'                       # Aggregate by sum (total number of complaints)
).reset_index()                        # Reset index to make it a flat table

# Display the summary table for complaints by policy type and month
print("\nNumber of Complaints by Policy Type and Month:")
print(complaints_summary)

Number of Complaints by Policy Type and Month:
      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817